/* 767px - 451px: mobile ngang */
@media (max-width: 767px) {
  .menu-top1 .menu-top2 {
  }

  .theemerald .theemerald__top .theemerald__top-one {
    font-size: 22px;
  }
  .theemerald .theemerald__top .theemerald__top-two {
    font-size: 14px;
  }
  .theemerald .theemerald__top .theemerald__top-three {
    font-size: 12px;
  }
  .theemerald .theemerald__footer .theemerald__max .theemerald__max-one {
    font-size: 22px;
  }
  .theemerald .theemerald__footer .theemerald__max .theemerald__max-two {
    font-size: 14px;
  }
  .theemerald .theemerald__footer .theemerald__end .theemerald__end-one {
    font-size: 14px;
  }
  .theemerald .theemerald__footer {
    flex-wrap: wrap;
  }
  .theemerald .theemerald__footer .theemerald__max {
    width: 100%;
    min-height: 230px;
  }
  .theemerald .theemerald__footer .theemerald__end {
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-top: 0px;
  }
  .theemerald .theemerald__footer .theemerald__end .theemerald__end-one {
    padding-top: 0px;
    margin-left: 15px;
  }
  .penhouse .penhouse__theemerald .penhouse__duan .penhouse__duan-one {
    font-size: 22px;
  }
  .penhouse .penhouse__theemerald .penhouse__duan .penhouse__duan-two {
    font-size: 12px;
  }
  .penhouse .penhouse__theemerald .penhouse__duan .penhouse__duan-three {
    font-size: 12px;
  }
  .penhouse .penhouse__end .penhouse__dientich .penhouse__dientich-one {
    font-size: 12px;
  }
  .penhouse .penhouse__end .penhouse__dientich .penhouse__dientich-two {
    font-size: 12px;
  }
  .penhouse .penhouse__end {
    flex-wrap: wrap;
  }
  .penhouse .penhouse__end .penhouse__dientich {
    padding-bottom: 20px;
  }
  .shophouse .shophouse__top {
    flex-wrap: wrap;
  }
  .shophouse .shophouse__top .shophouse__top-one {
    width: 100%;
    font-size: 22px;
  }
  .shophouse .shophouse__top .shophouse__top-two {
    width: 100%;
    font-size: 12px;
  }
  .shophouse .shophouse__text .shophouse__text-one {
    font-size: 15px;
  }
  .shophouse .discover .discover__back {
    flex-wrap: wrap;
    gap: 0px;
  }
  .shophouse .discover .discover__back .discover__max {
    width: 100%;
  }
  .shophouse .discover .discover__back .discover__max .discover__max-one {
    font-size: 36px;
  }
  .shophouse .next .next__top .next__top-one {
    font-size: 22px;
  }
  .shophouse .next .next__top .next__top-two {
    font-size: 22px;
  }
  .shophouse .next .next__end .next__vitri {
    width: 100%;
  }
  .shophouse .next .next__end .next__vitri .next__vitri-one {
    font-size: 14px;
  }
  .shophouse .next .next__end .next__vitri .next__vitri-two {
    font-size: 12px;
  }
  .doitac .doitac__text {
    font-size: 22px;
  }
  .doitac .doitac__top {
    flex-wrap: wrap;
    margin-top: 40px;
  }
 
  .tintuc .tintuc__top .tintuc__top-one {
    font-size: 32px;
    line-height: 36px;
   display: flex;
   align-items: center;
  }
  .tintuc .tintuc__top {
    flex-wrap: wrap;
  }
  .tintuc .tintuc__doan .tintuc__so {
    width: 100%;
  }
  .tintuc .tintuc__doan .tintuc__quyhoach {
    width: 100%;
  }
  .tintuc .tintuc__doan .tintuc__so .tintuc__so-one {
    font-size: 32px;
  }
  .tintuc .tintuc__doan .tintuc__quyhoach .tintuc__quyhoach-one {
    font-size: 14px;
  }
  .tintuc .tintuc__doan .tintuc__quyhoach .tintuc__quyhoach-two {
    font-size: 12px;
  }
  .tintuc .tintuc__doan .tintuc__quyhoach .tintuc__quyhoach-three {
    font-size: 12px;
  }
  .tintuc .tintuc__button {
    font-size: 12px;
  }
  .lienhe .lienhe__top .lienhe__top-one {
    font-size: 22px;
  }
  .lienhe .lienhe__top .lienhe__top-two {
    font-size: 12px;
  }
  .lienhe .lienhe__max {
    flex-wrap: wrap;
  }
  .lienhe .lienhe__max .lienhe__max-input {
    width: 100%;
  }
  .lienhe .lienhe__top {
    padding-bottom: 30px;
  }
  .lienhe {
    padding: 0px 0px 50px 0px;
  }
  .lienhe .lienhe__butto {
    font-size: 12px;
  }
  
  .footer .footer__top .footer__the {
    width: 100%;
    padding-bottom: 10px;
  }
  .footer .footer__top .footer__thongtin {
    width: 100%;
    padding: 0px 10px;
  }
  .banquyen .banquyen__max {
    flex-wrap: wrap;
  }
  .banquyen__img{
    margin-right: 20px;
  }
  .theemerald .theemerald__footer .theemerald__end .theemerald__end-img {
  }
 
  .shophouse .discover {
    padding: 50px 0px;
  }
  .shophouse .next .next__end {
    grid-template-columns: 1fr;
  }
  .shophouse .shophouse__top {
    padding: 50px 0px;
    gap: 20px;
  }
  .tintuc .tintuc__top .tintuc__top-one {
    margin-left: 10px;
  }
  .doitac {
    padding: 50px 0px;
  }
  .shophouse .next .next__top {
    padding-bottom: 50px;
  }
  .footer .footer__top {
    grid-template-columns: 1fr;
  }
  .footer__the-img {
    height: 70px;
    margin-bottom: 20px;
  }
  .footer .footer__top .footer__the .footer__the-text {
    font-size: 12px;
  }
  .footer__top .footer__hiuhiu {
    display: none;
  }
  .lienhe .lienhe__top {
    padding-top: 30px;
  }
  .shophouse .next .next__end{
    padding-bottom: 40px;
  }
  .menu-svg{
    width: 24px;
  }
}